In [1]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
targetData = pd.read_csv("../../../stdcode6/dataset/cars.csv")

In [6]:
targetData

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]

In [8]:
corrData = targetData.corr()

In [9]:
corrData

             age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

In [13]:
targetStd = 0.5

In [20]:
features = list(corrData[(abs(corrData.sales) >= targetStd) & \
                         (corrData.sales != 1)].index)

In [21]:
features

['miles', 'debt', 'income']

In [22]:
label = ["sales"]

In [24]:
963* 0.8

770.4000000000001

In [29]:
trainingData_features = targetData[:770][features].reset_index(drop=True, inplace = False)

In [32]:
trainingData_label = targetData[:770][label].reset_index(drop=True, inplace = False)

In [33]:
testData_features = targetData[770:][features].reset_index(drop=True, inplace = False)

In [34]:
testData_label = targetData[770:][label].reset_index(drop=True, inplace = False)

In [48]:
model_method = ensemble.RandomForestClassifier()

In [55]:
model = model_method.fit(trainingData_label,
                         trainingData_features)

In [56]:
model.feature_importances_

array([1.])

In [65]:
predict = model.predict(testData_label)

In [69]:
model.score(testData_label, predict)

ValueError: multiclass-multioutput is not supported