In [1]:
import pandas as pd

In [2]:
regionList = ["A01", "A02", "A03", "A04", "A05"]
yearWeekList = list(range(201501, 201506, 1))
qtyList = list(range(100, 600, 100))

In [3]:
regionList

['A01', 'A02', 'A03', 'A04', 'A05']

In [4]:
yearWeekList

[201501, 201502, 201503, 201504, 201505]

In [5]:
qtyList

[100, 200, 300, 400, 500]

In [11]:
eachDf = pd.DataFrame(zip(regionList, yearWeekList, qtyList))

In [13]:
eachDf.columns = ["REGIONID", "YEARWEEK", "QTY"]

In [14]:
eachDf

  REGIONID  YEARWEEK  QTY
0      A01    201501  100
1      A02    201502  200
2      A03    201503  300
3      A04    201504  400
4      A05    201505  500

In [15]:
DaFm = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [16]:
DaFm

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [17]:
DaFm.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [18]:
emiCount = 3
deviceCount = 5

In [21]:
answer01 = DaFm.loc[(DaFm.EMI == emiCount)&
         (DaFm.DEVICECOUNT > 5)]

In [22]:
answer01.head()

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27  F17131  3179.708359    3            6    1.100000        Early-bird
33  G16437  3787.328898    3            6    1.000000        Early-bird
36  G18402  3402.199381    3            6    1.000000        Early-bird
40  H16326  3988.935304    3            6    0.900000        Early-bird

In [23]:
DaFm.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [24]:
DaFm = DaFm.astype(
    {"CUSTID":str,
     "DEVICECOUNT":float})

In [25]:
DaFm.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT    float64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [26]:
customerData = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [27]:
emiCondition = [2, 3]

In [28]:
answer1 = customerData.loc[customerData.EMI.isin(emiCondition)]

In [29]:
answer2 = customerData.loc[~customerData.EMI.isin(emiCondition)]

In [30]:
answer2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
11   C18622  3246.000000    1            5    1.891624  Big-Screen-lover
46   I14835  3374.091339    1            4    2.749678      Sleeping-dog
47   I17056  2963.370122    1            3    2.139196      Sleeping-dog
56   K10712  3419.462596    1            4    2.825790      Sleeping-dog
57   K13300  3159.839204    1            3    1.960833      Sleeping-dog
65   M16452  3353.537290    1            4    1.940357      Sleeping-dog
68   N14862  2390.083736    1            6    1.000000        Early-bird
72   O13037  3398.216334    1            4    2.994395      Sleeping-dog
73   O13586  2980.229239    1            3    2.038603      Sleeping-dog
86   Q16449  3048.308860    1            3    2.369758      Sleeping-dog
140  Y12458  2976.211190    1            3    2.199677      Sleeping-dog

In [31]:
answer1

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[139 rows x 6 columns]

In [32]:
specificindex = [1, 3]