In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
targetData = pd.read_csv("../../../stdcode6/dataset/feature_regression_example.csv")

In [3]:
targetData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155

In [7]:
ynLabelEn = LabelEncoder()

In [8]:
targetData["HO_YN"] = ynLabelEn.fit_transform(targetData["HOLIDAY"])

In [9]:
targetData["PRO_YN"] = ynLabelEn.fit_transform(targetData["PROMOTION"])

In [10]:
targetData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HO_YN,PRO_YN
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155,0,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155,1,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155,0,1

In [11]:
corrData = targetData.corr()

In [12]:
corrData

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HO_YN,PRO_YN
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.898554
HO_YN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,0.365148
PRO_YN,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,1.000000

In [15]:
features = list(corrData[(abs(corrData.QTY) > 0.5) & \
                         (abs(corrData.QTY) != 1)].index)

In [16]:
features

['HCLUS', 'PRO_PERCENT', 'HO_YN', 'PRO_YN']

In [17]:
targetIndex = int(targetData.shape[0] * 0.7)

In [18]:
targetIndex

73

In [20]:
label = ["QTY"]

In [19]:
trainingFeatures = targetData[features][:targetIndex]

In [21]:
trainingLabel = targetData[label][:targetIndex]

In [22]:
testFeatures = targetData[features][targetIndex:]

In [23]:
testLabel = targetData[label][targetIndex:]

In [24]:
trainingFeatures.shape[0]

73

In [25]:
trainingLabel.shape[0]

73

In [26]:
testFeatures.shape[0]

32

In [27]:
testLabel.shape[0]

32

In [28]:
model_method = tree.DecisionTreeRegressor()

In [30]:
model = model_method.fit(trainingFeatures, trainingLabel)

In [32]:
predictData = model.predict(testFeatures)

In [33]:
predictData = pd.DataFrame(predictData, columns = {"predict"})

In [34]:
predictData

    predict
0    2783.6
1    2783.6
2    2783.6
3     367.2
4    2783.6
5    2783.6
6    2783.6
7    2783.6
8    2783.6
9    2783.6
10   2783.6
11   2783.6
12    367.2
13   2783.6
14   2783.6
15   2783.6
16   2783.6
17   2783.6
18   2783.6
19   2783.6
20   2783.6
21   2783.6
22    367.2
23   2193.8
24   2193.8
25   2193.8
26   2193.8
27   2193.8
28   2193.8
29   2193.8
30   2193.8
31   2193.8

In [35]:
mean_absolute_error(testLabel, predictData)

888.58125

In [36]:
mean_squared_error(testLabel, predictData)

1056829.4337499999