In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [2]:
targetData = pd.read_csv("../../../stdcode6/dataset/cars.csv")

In [3]:
targetData.dtypes

age       int64
gender    int64
miles     int64
debt      int64
income    int64
sales     int64
dtype: object

In [4]:
targetData

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]

In [5]:
corrData = targetData.corr()

In [6]:
corrData

             age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

In [7]:
relationStd = 0.5

In [8]:
features = list(corrData[(abs(corrData.sales) > relationStd) & \
                         (abs(corrData.sales) != 1)].index)

In [9]:
features

['miles', 'debt', 'income']

In [10]:
label = ["sales"]

In [11]:
label

['sales']

In [12]:
963 * 0.7

674.0999999999999

In [13]:
trainingData_features = targetData[:674][features].reset_index(drop=True, inplace=False)

In [14]:
trainingData_label = targetData[:674][label].reset_index(drop=True, inplace=False)

In [15]:
testData_features = targetData[674:][features].reset_index(drop=True, inplace=False)

In [16]:
testData_label = targetData[674:][label].reset_index(drop=True, inplace=False)

In [17]:
model_method = linear_model.LinearRegression()

In [18]:
model = model_method.fit(trainingData_features,
                         trainingData_label)

In [19]:
predict = model.predict(testData_features)

In [20]:
predictData = pd.DataFrame(predict, columns = {"predict_sales"})

In [21]:
predictData

     predict_sales
0      5884.060571
1     24926.628824
2      5386.178198
3     23630.961414
4      9973.769141
..             ...
284   11359.449590
285    6040.998537
286    7222.170304
287   24390.666098
288    7380.908162

[289 rows x 1 columns]

In [22]:
testData_label

     sales
0     3267
1    22391
2     4927
3    22752
4    12969
..     ...
284   1593
285   4742
286  12771
287  28511
288   6104

[289 rows x 1 columns]

In [25]:
finalResult = pd.concat([testData_label, predictData], axis=1)

In [26]:
finalResult

     sales  predict_sales
0     3267    5884.060571
1    22391   24926.628824
2     4927    5386.178198
3    22752   23630.961414
4    12969    9973.769141
..     ...            ...
284   1593   11359.449590
285   4742    6040.998537
286  12771    7222.170304
287  28511   24390.666098
288   6104    7380.908162

[289 rows x 2 columns]

In [33]:
model_method.coef_

array([[123.01057028,   0.27764761,   0.89699294]])

In [34]:
model_method.intercept_

array([-1247.40096788])

In [36]:
predicts = model_method.predict(testData_features)

In [42]:
model_method.score(testData_features, testData_label)

0.822141473299008

In [43]:
linear_model_reliability = model_method.score(testData_features, testData_label)

In [61]:
rel = ((int)(linear_model_reliability * 10000) / 10000)

In [62]:
rel

0.8221