## 01. 모듈 호출

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

## 02. 목표데이터 불러오기

In [2]:
targetData = pd.read_csv("../../Python_Script/dataset/cars.csv")

## 03. 데이터 형변환

In [3]:
targetData.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [4]:
targetData.dtypes

age       int64
gender    int64
miles     int64
debt      int64
income    int64
sales     int64
dtype: object

In [5]:
columnList = list(targetData.columns)

In [6]:
columnList

['age', 'gender', 'miles', 'debt', 'income', 'sales']

In [7]:
for i in range(0, len(columnList)):
    try:
        targetData[columnList[i]] = targetData[columnList[i]].astype(int)
    except:
        print(e)

In [8]:
targetData.dtypes

age       int32
gender    int32
miles     int32
debt      int32
income    int32
sales     int32
dtype: object

## 04. 상관계수 도출

In [9]:
corrData = targetData.corr()

In [10]:
corrData

             age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

## 05. sales기반으로 features와 label 구분

In [11]:
targetStd = 0.6

In [15]:
features = list(corrData[(abs(corrData.sales) > targetStd) & \
                         (abs(corrData.sales) != 1)].index)

In [16]:
features

['miles', 'debt', 'income']

In [17]:
label = ["sales"]

In [18]:
label

['sales']

## 06. trainingData와 testData 구분

In [19]:
targetRatio = 0.7

In [20]:
targetIndex = int(targetData.shape[0] * targetRatio)

In [21]:
targetIndex

674

In [22]:
trainingFeatures = targetData[features][:targetIndex].reset_index(drop=True, inplace = False)
trainingLabel = targetData[label][:targetIndex].reset_index(drop=True, inplace = False)
testFeatures = targetData[features][targetIndex:].reset_index(drop=True, inplace = False)
testLabel = targetData[label][targetIndex:].reset_index(drop=True, inplace = False)

In [23]:
trainingFeatures

     miles   debt  income
0       23      0    4099
1       27      0    2677
2       58  41576    6215
3       25  43172    7626
4       17   6979    8071
..     ...    ...     ...
669     27   9766    5787
670     12   1411    8381
671     25   9569    6598
672     72  55789   10257
673     29   1427    2214

[674 rows x 3 columns]

In [24]:
trainingLabel

     sales
0      620
1     1792
2    27754
3    28256
4     4438
..     ...
669   9196
670   3779
671   8396
672  29138
673   3310

[674 rows x 1 columns]

In [25]:
testFeatures

     miles   debt  income
0       23    773    4557
1       38  41500   11123
2       13   9933    2538
3       23  56544    7079
4       35   7017    5538
..     ...    ...     ...
284     11   8778    9829
285     23   4850    3470
286     28   9312    2720
287     29  51343    8713
288     15   3735    6406

[289 rows x 3 columns]

In [26]:
testLabel

     sales
0     3267
1    22391
2     4927
3    22752
4    12969
..     ...
284   1593
285   4742
286  12771
287  28511
288   6104

[289 rows x 1 columns]

## 07. 모델 선언 및 훈련 시행

In [27]:
model_method = linear_model.LinearRegression()

In [28]:
model = model_method.fit(trainingFeatures, trainingLabel)

## 08. 예측 시행

In [29]:
predict = model.predict(testFeatures)

In [30]:
predict

array([[ 5884.06057081],
       [24926.62882415],
       [ 5386.17819822],
       [23630.96141446],
       [ 9973.76914109],
       [11574.02133837],
       [ 8301.9119241 ],
       [ 8130.50897482],
       [ 4847.63167211],
       [24704.69031964],
       [ 5059.36123503],
       [ 8250.85005534],
       [29042.45316936],
       [ 2073.88442977],
       [ 2425.80927556],
       [ 4355.0114772 ],
       [ 6932.07553561],
       [11015.76316065],
       [ 3580.8416248 ],
       [24710.54258289],
       [ 7077.53591354],
       [10822.55486798],
       [ 7824.69571222],
       [18807.30276782],
       [13530.44510265],
       [20620.17030041],
       [14126.92102761],
       [ 5308.2669902 ],
       [23582.5044161 ],
       [10414.42181652],
       [ 6378.11735545],
       [ 5105.36560227],
       [15554.41839158],
       [ 4052.89592826],
       [28450.02861585],
       [ 7370.16418711],
       [24186.2616422 ],
       [ 1438.20957137],
       [33386.55116646],
       [ 8212.06265044],
       [ 5255.14853377],
       [16524.45434692],
       [ 4182.91582543],
       [22889.42244269],
       [17406.97916112],
       [ 4730.19732656],
       [ 5694.37575887],
       [25038.5482812 ],
       [ 7782.60691731],
       [ 3793.09239704],
       [ 4233.08339317],
       [15664.66493724],
       [14519.101173  ],
       [ 2693.74038069],
       [ 3290.16277593],
       [  351.73644581],
       [25372.87457976],
       [ 6728.14251252],
       [ 9923.72821042],
       [ 6507.06860905],
       [31983.42131034],
       [24153.9198788 ],
       [ 8970.67602862],
       [22929.75473094],
       [ 4669.57614893],
       [ 2595.72847424],
       [ 6738.86537391],
       [ 8163.97133233],
       [23257.57879862],
       [24895.49427931],
       [15888.55139174],
       [24477.86681854],
       [ 9691.98145199],
       [27650.58849103],
       [31267.02277952],
       [ 8927.34817004],
       [24952.99924452],
       [ 8546.72132001],
       [10941.37098492],
       [ 2806.40313417],
       [ 7992.99400713],
       [ 5250.21477686],
       [ 4096.07412699],
       [ 9942.24900214],
       [12800.10494317],
       [ 2846.2345795 ],
       [ 4899.99643178],
       [21448.76202967],
       [10660.25605581],
       [ 6633.96827824],
       [18051.23785965],
       [ 7524.12931469],
       [25424.21507123],
       [ 5668.30947585],
       [17453.05576239],
       [ 3863.79218516],
       [ 8439.20134463],
       [20513.2893067 ],
       [11146.7333089 ],
       [12892.14251188],
       [ 8693.60382294],
       [ 4641.15667955],
       [ 5606.86218749],
       [ 2376.68384209],
       [ 4238.84800318],
       [ 7301.04570519],
       [ 8174.64376816],
       [10778.31707268],
       [ 5298.24046068],
       [ 4763.31495437],
       [11462.37197202],
       [13777.78029481],
       [ 8914.74543504],
       [ 8560.4123951 ],
       [10298.1907267 ],
       [ 5930.7206707 ],
       [ 8579.65728234],
       [ 9791.11144418],
       [13867.04691709],
       [ 8727.45269875],
       [ 8757.9088642 ],
       [17434.89828463],
       [24198.97904349],
       [11683.85977174],
       [11660.93637718],
       [ 8263.53820594],
       [10596.71540455],
       [ 4718.17553463],
       [ 6765.78455936],
       [13702.41266315],
       [ 3568.30952   ],
       [ 8986.52169905],
       [26987.8514165 ],
       [25300.92271746],
       [ 4463.47361896],
       [ 7682.73842475],
       [ 6616.06626948],
       [ 1700.84032365],
       [ 3968.69223536],
       [ 2420.19827728],
       [24131.50504935],
       [ 4736.17993161],
       [ 9789.6716378 ],
       [24768.39447171],
       [ 9246.59121468],
       [ 8695.75465253],
       [22533.78386443],
       [18001.03906086],
       [ 2007.92977885],
       [26314.42196191],
       [20243.12504995],
       [12821.37539281],
       [ 9213.50092336],
       [ 1704.15672233],
       [11378.47874788],
       [15373.91952159],
       [ 2005.79142511],
       [10118.2106924 ],
       [26635.6414043 ],
       [ 8338.71066471],
       [19999.34949991],
       [ 7043.14902653],
       [ 8122.93068414],
       [27948.9422149 ],
       [ 4685.46210602],
       [23277.36255   ],
       [ 8319.77028629],
       [ 8810.86133438],
       [ 6262.43584173],
       [26715.66190635],
       [27267.24474343],
       [14290.91963684],
       [23049.67675848],
       [20107.52737988],
       [19424.87271961],
       [ 4832.76671614],
       [ 1923.51315004],
       [ 8389.09891251],
       [24245.19252729],
       [ 4803.16569505],
       [23531.61160863],
       [25509.74960863],
       [ 6225.68659559],
       [ 1791.66541077],
       [ 7676.78344011],
       [ 3425.44129417],
       [22300.45605507],
       [26892.37669024],
       [ 8303.92999329],
       [ 3379.81698023],
       [16759.72496901],
       [14229.21178168],
       [ 6525.66038545],
       [ 5158.8177423 ],
       [ 2934.26756862],
       [22722.6844805 ],
       [ 8219.38739541],
       [ 6302.43597965],
       [ 3262.16907177],
       [10197.72316192],
       [24273.75797836],
       [17934.4444477 ],
       [ 9839.88274647],
       [ 3943.58532738],
       [22257.50977664],
       [21474.21485673],
       [20490.51629137],
       [ 4771.67281258],
       [ 6554.20241474],
       [12750.82069244],
       [ 9337.79748251],
       [ 9812.16770694],
       [ 4314.94314688],
       [10323.87450698],
       [ 4547.72460204],
       [ 2473.02756148],
       [24845.7696256 ],
       [ 8180.84963316],
       [ 6981.19266207],
       [ 3937.06130149],
       [ 1748.23191399],
       [12408.161504  ],
       [22935.03515714],
       [ 4409.3900274 ],
       [13985.45786231],
       [ 8723.21128937],
       [22492.93331451],
       [14018.48622874],
       [11677.09371788],
       [ 9627.1241915 ],
       [ 7800.39406889],
       [10916.15582639],
       [ 8171.21391865],
       [11447.09711905],
       [ 4026.48173441],
       [10472.47743857],
       [20217.61316391],
       [ 9110.23798569],
       [ 2715.78562777],
       [20458.64298213],
       [12400.11122117],
       [ 6873.72321949],
       [ 8579.63312153],
       [25938.04051647],
       [ 7313.0252995 ],
       [ 6941.27067736],
       [  260.90763648],
       [ 8914.00362263],
       [31297.34052067],
       [ 1840.2986527 ],
       [27709.56740533],
       [27385.6893743 ],
       [ 7394.85859307],
       [13607.23191214],
       [12050.82642383],
       [10262.34120046],
       [ 7699.51665686],
       [20331.0992174 ],
       [11415.53026395],
       [21662.80525169],
       [26959.76382108],
       [ 7426.48429754],
       [ 8987.96605949],
       [ 3692.42730449],
       [ 4128.09346833],
       [11725.20362572],
       [18869.65619754],
       [ 2626.85701607],
       [10148.48358165],
       [24424.59744534],
       [13138.08582287],
       [ 7060.79757027],
       [ 6992.7481352 ],
       [ 3773.68604896],
       [22257.37467835],
       [ 5538.02874879],
       [ 6972.50787607],
       [ 3163.44401734],
       [ 6137.663147  ],
       [ 7273.8866277 ],
       [ 9010.70953612],
       [ 4537.67223683],
       [ 8602.85996387],
       [14183.18907149],
       [11359.44958975],
       [ 6040.99853719],
       [ 7222.17030382],
       [24390.66609785],
       [ 7380.90816245]])

In [47]:
predictData = pd.DataFrame(predict, columns = {"PREDICT"}).reset_index(drop=True, inplace=False).astype(int)

In [49]:
predictData

     PREDICT
0       5884
1      24926
2       5386
3      23630
4       9973
..       ...
284    11359
285     6040
286     7222
287    24390
288     7380

[289 rows x 1 columns]

## 09. 정확도 분석

In [44]:
from sklearn.metrics import accuracy_score

In [50]:
testLabel.dtypes

sales    int32
dtype: object

In [52]:
testLabel = testLabel.astype(int)

In [57]:
testLabel

     sales
0     3267
1    22391
2     4927
3    22752
4    12969
..     ...
284   1593
285   4742
286  12771
287  28511
288   6104

[289 rows x 1 columns]

In [80]:
MAE1 = mean_absolute_error(testLabel, predictData)

In [ ]:
# 평균 절대 오차 : 약 2877.3045

In [81]:
MSE1 = mean_squared_error(testLabel, predictData)

In [ ]:
# 평균 제곱 오차 : 약 14301010.0173

## 10. tree-model을 사용한 분석

In [65]:
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor

In [70]:
model_method2 = DecisionTreeRegressor()

In [71]:
model2 = model_method2.fit(trainingFeatures, trainingLabel)

In [72]:
predict2 = model2.predict(testFeatures)

In [74]:
predictData2 = pd.DataFrame(predict2, columns = {"predict"}).reset_index(drop=True, inplace = False).astype(int)

In [75]:
predictData2

     predict
0       2795
1      25239
2       1769
3      27677
4       1285
..       ...
284     2620
285     4487
286     6801
287    22987
288     6263

[289 rows x 1 columns]

In [78]:
MAE2 = mean_absolute_error(testLabel, predictData2)

In [79]:
MSE2 = mean_squared_error(testLabel, predictData2)

In [82]:
print(MAE1)
print(MAE2)
print(MSE1)
print(MSE2)

2877.304498269896
2999.4221453287196
14301010.017301038
19616815.23529412

In [ ]:
# MAE2 > MAE1, MSE2 > MSE1.
# 따라서 linear_model로 분석한 데이터(1번)가 tree_model로 분석한 데이터(2번)보다 더 정확한 분석이 이뤄졌다.

## 11. ensemble 모델을 사용한 분석

In [84]:
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor

In [87]:
model_method3 = ensemble.RandomForestRegressor()

In [89]:
model3 = model_method3.fit(trainingFeatures, trainingLabel)

C:\Users\golds\AppData\Local\Temp\ipykernel_7356\1473347216.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model3 = model_method3.fit(trainingFeatures, trainingLabel)

In [91]:
predict3 = model3.predict(testFeatures)

In [92]:
predictData3 = pd.DataFrame(predict3, columns = {"predict"}).reset_index(drop = True, inplace= False).astype(int)

In [93]:
predictData3

     predict
0       4314
1      25462
2       7921
3      25390
4       9604
..       ...
284     3996
285     5027
286     5402
287    25101
288    10228

[289 rows x 1 columns]

In [94]:
MAE3 = mean_absolute_error(testLabel, predictData3)

In [95]:
MSE3 = mean_squared_error(testLabel, predictData3)

In [97]:
print(MAE1)
print(MAE2)
print(MAE3)
print(MSE1)
print(MSE2)
print(MSE3)

2877.304498269896
2999.4221453287196
2371.297577854671
14301010.017301038
19616815.23529412
11579000.69550173

In [ ]:
# 가장 작은 평균 제곱 오차와 평균 표본 오차를 지닌 모델은 ensemble 모델.
# 따라서 ensemble 모델의 정확도가 가장 높다!