In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

In [2]:
targetData = pd.read_csv("../../../stdcode6/dataset/cars.csv")

In [3]:
targetData.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [4]:
targetData.dtypes

age       int64
gender    int64
miles     int64
debt      int64
income    int64
sales     int64
dtype: object

In [5]:
columnList = list(targetData.columns)

In [6]:
columnList

['age', 'gender', 'miles', 'debt', 'income', 'sales']

In [8]:
for i in range(0, len(columnList)):
    targetData[columnList[i]] = targetData[columnList[i]].astype(int)

In [9]:
targetData.dtypes

age       int32
gender    int32
miles     int32
debt      int32
income    int32
sales     int32
dtype: object

In [10]:
corrData = targetData.corr()

In [11]:
corrData

             age    gender     miles      debt    income     sales
age     1.000000 -0.000702  0.232399  0.218896  0.239644  0.352609
gender -0.000702  1.000000 -0.031355 -0.033181 -0.034317 -0.036350
miles   0.232399 -0.031355  1.000000  0.544791  0.422141  0.636676
debt    0.218896 -0.033181  0.544791  1.000000  0.491790  0.835541
income  0.239644 -0.034317  0.422141  0.491790  1.000000  0.674685
sales   0.352609 -0.036350  0.636676  0.835541  0.674685  1.000000

In [12]:
corrList = list(range(3, 8, 1))

In [13]:
for i in range(0, len(corrList)):
    corrList[i] = corrList[i] / 10

In [14]:
corrList

[0.3, 0.4, 0.5, 0.6, 0.7]

In [29]:
features = [0 for i in range(0, len(corrList))]

In [30]:
features

[0, 0, 0, 0, 0]

In [31]:
for i in range(0, len(features)):
    features[i] = list(corrData[(abs(corrData.sales) > corrList[i]) & \
                                (abs(corrData.sales) != 1)].index)

In [32]:
features

[['age', 'miles', 'debt', 'income'],
 ['miles', 'debt', 'income'],
 ['miles', 'debt', 'income'],
 ['miles', 'debt', 'income'],
 ['debt']]

In [33]:
label = ["sales"]

In [35]:
targetRatio = 0.7

In [37]:
targetIndex = int(targetData.shape[0])

In [40]:
targetRatioIndex = int(targetIndex * targetRatio)

In [41]:
targetRatioIndex

674

In [44]:
trainingFeatures = [0 for i in range(0, len(features))]

In [52]:
testFeatures = [0 for i in range(0, len(features))]

In [56]:
for i in range(0, len(targetFeatures)):
    trainingFeatures[i] = targetData[features[i]][:targetRatioIndex].reset_index(drop=True, inplace=False)
    testFeatures[i] = targetData[features[i]][targetRatioIndex:].reset_index(drop=True, inplace=False)
trainingLabel = targetData[label][:targetRatioIndex].reset_index(drop=True, inplace=False)
testLabel = targetData[label][targetRatioIndex:].reset_index(drop=True, inplace=False)

In [58]:
model_method = tree.DecisionTreeRegressor()

In [60]:
predictData = [0 for i in range(0, len(trainingFeatures))]

In [63]:
for i in range(0, len(model)):
    model = model_method.fit(trainingFeatures[i], trainingLabel)
    predictData[i] = model.predict(testFeatures[i])

In [66]:
for i in range(0, len(predictData)):
    print(mean_absolute_error(testLabel, predictData[i]))

2416.21107266436
3040.325259515571
3083.3217993079584
3025.899653979239
3860.7506665154006

In [69]:
for i in range(0, len(predictData)):
    print(mean_squared_error(testLabel, predictData[i]))

11801767.892733565
20526817.169550173
21649191.15570934
19735826.93079585
29253734.71082089