In [1]:
# 03.23. 강의 시작.

In [ ]:
# 분석에서도 2중 포문을 사용할 예정(크롤링)
# 그래도 자주 사용하지는 않는다.

In [ ]:
# break: 반복문 탈출(성능 향상 코드로 애용한다.) 자신을 감싸고 있는 반복문 단 하나만을 탈출.
#        단 한 개의 반복문만을 탈출한다는 의미이다. if문은 탈출 안해.
# continue: 반복문에서 다음 단계로 넘어간다. 충족되면 그냥 넘어가! 라는 의미로.
# pass: 특정 오류 조건 스킵 시 활용 빈도가 높다.

In [ ]:
# ex 예시

In [12]:
model = ["MODEL01", "MODEL02"]
attatedModel = []
for i in range(0, len(model)):
    if(model[i] == "MODEL01"):
        break
        attatedModel.append(model[i])
    print(model[i])
print(attatedModel)

[]

In [13]:
# break를 만난 시점에 바로 for문이 종료돼버린다.

In [23]:
recallProduct = "MODEL02"

In [24]:
productList = ["MODEL01", "MODEL02", "MODEL03"]

In [ ]:
# 내 로직

In [32]:
for i in range(0, len(productList)):
    
    if(productList[i] == recallProduct):
        
        print((i+1),"번 제품")

2 번 제품

In [ ]:
# 교수님 로직

In [35]:
for i in range(0, len(productList)):
    if(productList[i] == recallProduct):
        print(productList[i])
        break

MODEL02

In [36]:
# 예시

In [37]:
model2 = ["MODEL01", "MODEL02"]
attatedModel02 = []

for i in range(0, len(model2)):
    if(model2[i] == "MODEL01"):
        continue
    print(model2[i])

MODEL02

In [40]:
for i in range(0, len(productList)):
    if(productList[i] == recallProduct):
        continue
    print(productList[i])

MODEL01
MODEL03

In [41]:
for i in range(0, len(productList)):
    if productList[i] == recallProduct:
        pass
    print(productList[i])

MODEL01
MODEL02
MODEL03

In [42]:
# 예제 끝

In [62]:
# 예외 처리를 했을 때와 안 했을 때.

# 예외 처리를 잘 하면 프로그램이 죽지 않는다. 살릴 수 있다.

# 예외 처리를 하지 않으면 프로그램이 죽어 버린다.

In [63]:
import pandas as pd

In [64]:
pd.read_csv("../../../SMART16/stdcode6/dataset/kopo_product_volume0.csv")

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

In [65]:
dataSum = []

In [71]:
for i in range(0, 3):
    #데이터를 시퀀셜하게 읽어서 datasum 리스트에 추가한다.
    loadFileName = "../../stdcode6/dataset/kopo_product_volume.csv".format(i)
    print(loadFileName)
    try:
        dataSum.append( pd.read_csv(loadFileName))
    except Exception as e:
        print(e)

../../stdcode6/dataset/kopo_product_volume.csv
name 'dataSm' is not defined
../../stdcode6/dataset/kopo_product_volume.csv
name 'dataSm' is not defined
../../stdcode6/dataset/kopo_product_volume.csv
name 'dataSm' is not defined

In [74]:
for i in range(0, 3):
    loadFileName = "../../stdcode6/dataset/kopo_product_volume.csv".format(i)
    print(loadFileName)
    try:
        dataSum.append(pd.read_csv(loadFileName))
    except Exception as e:
        print(e)

../../stdcode6/dataset/kopo_product_volume.csv
../../stdcode6/dataset/kopo_product_volume.csv
../../stdcode6/dataset/kopo_product_volume.csv

In [75]:
import pandas as pd

In [78]:
indata = pd.read_csv("../../stdcode6/dataset/kopo_customerdata.csv")

In [80]:
indata

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [79]:
indata.dtypes

CUSTOMERCODE      int64
STATENAME        object
ST                int64
GENDER           object
DOB               int64
GENDER1           int64
EMAIL             int64
FEST_CNT          int64
TOTAL_AMOUNT      int64
AC_AMOUNT         int64
AV_AMOUNT         int64
HA_AMOUNT         int64
EMI_CE_AMOUNT     int64
IS_HIGHEND        int64
CNT_VIST          int64
GAP_VISIT         int64
dtype: object

In [81]:
# 컬럼의 타입을 변경시키는 코드(전체 컬럼을 float로 바꿔보자)
indata.CUSTOMERCODE = indata.CUSTOMERCODE.astype(float)

In [85]:
columnList = indata.columns

In [86]:
columnList

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [122]:
len(columnList)

16

In [123]:
indata.dtypes

CUSTOMERCODE     float64
STATENAME         object
ST                 int64
GENDER            object
DOB                int64
GENDER1            int64
EMAIL              int64
FEST_CNT           int64
TOTAL_AMOUNT       int64
AC_AMOUNT          int64
AV_AMOUNT          int64
HA_AMOUNT          int64
EMI_CE_AMOUNT      int64
IS_HIGHEND         int64
CNT_VIST           int64
GAP_VISIT          int64
dtype: object

In [131]:
for i in range(0, len(columnList)):
    targetColumn = columnList[i]
    print(targetColumn)
    # 타입 변경(기존 타입 -> float)
    try:
        indata[targetColumn] = indata[targetColumn].astype(float)
    # 타입을 못 바꾸는 경우 오류 메시지 출력. 에러는 발생되지 않음.
    except Exception as e:
        print(e)

CUSTOMERCODE
STATENAME
could not convert string to float: 'State2'
ST
GENDER
could not convert string to float: 'Male'
DOB
GENDER1
EMAIL
FEST_CNT
TOTAL_AMOUNT
AC_AMOUNT
AV_AMOUNT
HA_AMOUNT
EMI_CE_AMOUNT
IS_HIGHEND
CNT_VIST
GAP_VISIT

In [132]:
indata.dtypes

CUSTOMERCODE     float64
STATENAME         object
ST               float64
GENDER            object
DOB              float64
GENDER1          float64
EMAIL            float64
FEST_CNT         float64
TOTAL_AMOUNT     float64
AC_AMOUNT        float64
AV_AMOUNT        float64
HA_AMOUNT        float64
EMI_CE_AMOUNT    float64
IS_HIGHEND       float64
CNT_VIST         float64
GAP_VISIT        float64
dtype: object

In [21]:
import pandas as pd

In [22]:
custData = pd.read_csv("../../stdcode6/dataset/kopo_customerdata.csv")

In [23]:
columnList02 = custData.columns

In [24]:
columnList02

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [156]:
for i in range(0, len(columnList02)):
    #print(columnList02)
    try:
        custData[columnList02[i]] = custData[columnList02[i]].astype(float)
    except Exception as e:
        print(e)

could not convert string to float: 'State2'
could not convert string to float: 'Male'

In [26]:
for i in range(0, len(columnList02)):
    try:
        custData[columnList02[i]] = custData[columnList02[i]].astype(float)
    except:
        continue
    # 타입이 문자인 경우 오류가 발생할 수 있음
columnList02

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [29]:
typeData = type(custData.loc[0, "STATENAME"])

In [32]:
for i in range(0, len(columnList02)):
    targetColumn = columnList02[i]
    continue
    if(typeData == str):
        print("{}컬럼은 문자열이기 떄문에 continue 탐".format(targetColumn))
    custData[targetColumn] = custData[targetColumn].astype(float)
    ## 위와 같은 코드는 좀...

In [34]:
custData.dtypes

CUSTOMERCODE     float64
STATENAME         object
ST               float64
GENDER            object
DOB              float64
GENDER1          float64
EMAIL            float64
FEST_CNT         float64
TOTAL_AMOUNT     float64
AC_AMOUNT        float64
AV_AMOUNT        float64
HA_AMOUNT        float64
EMI_CE_AMOUNT    float64
IS_HIGHEND       float64
CNT_VIST         float64
GAP_VISIT        float64
dtype: object

In [37]:
columnList02

Index(['CUSTOMERCODE', 'STATENAME', 'ST', 'GENDER', 'DOB', 'GENDER1', 'EMAIL',
       'FEST_CNT', 'TOTAL_AMOUNT', 'AC_AMOUNT', 'AV_AMOUNT', 'HA_AMOUNT',
       'EMI_CE_AMOUNT', 'IS_HIGHEND', 'CNT_VIST', 'GAP_VISIT'],
      dtype='object')

In [112]:
# 오류가 출력되는 내 코드...
#newColumnList = []
#for i in range(0, len(columnList)):
#        indata.columnList[i] = indata.columnList[i].astype(float)
    #try:
    #    indata.columnList[i] = indata.columnList[i].astype(float)
        #columnList = newColumnList.append(columnList[i].astype(float))
    #except Exception as exception:
        # print(e)

AttributeError: 'DataFrame' object has no attribute 'columnList'