In [1]:
import pandas as pd

In [11]:
customerData = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [12]:
customerData.describe()

          AVGPRICE         EMI  DEVICECOUNT  PRODUCTAGE
count   150.000000  150.000000   150.000000  150.000000
mean   3432.741108    2.053333     4.973333    1.932601
std     371.571877    0.445510     0.996279    0.807457
min    2390.083736    1.000000     3.000000    0.800000
25%    3214.543122    2.000000     4.000000    1.000000
50%    3408.300000    2.000000     5.000000    2.077000
75%    3664.767001    2.000000     6.000000    2.574525
max    4296.873743    3.000000     6.000000    3.483573

In [ ]:
# describe : 해당 데이터프레임의 정보가 출력된다.
# 데이터 개수, 평균값, 표준편차, 최소값, 사분위값, 최대값을 출력 정보 대상으로 한다.

In [13]:
groupKey = ["EMI"]

In [18]:
avgData = customerData.groupby(by=groupKey)["AVGPRICE"].agg(["mean"]).reset_index().rename(columns={"mean":"평균구매가격"})

In [19]:
avgData

   EMI       평균구매가격
0    1  3119.031810
1    2  3441.429664
2    3  3559.487188

In [ ]:
# 1. groupby 기능을 통해 groupKey로 지정한 "EMI'가 같은 친구들을 그룹으로 묶어주었다.
# 2. 대상으로 할 값은 "AVGPRICE"이다.
# 3. .agg(["mean"])을 통해 대상값의 평균을 산출한다.
# 4. .reset_index()를 통해 각 값이 가지고 있는 고유 인덱스 번호를 지우고, 내림차순으로
#    새로운 인덱스 번호를 부여해준다.
# 5. .rename(columns={"mean":"평균구매가격"})을 통해
#    mean이라는 컬럼명(=열 이름)을 "평균구매가격"으로 변경해주었다.

In [20]:
customerData.groupby(groupKey).describe()

    AVGPRICE                                                                  \
       count         mean         std          min          25%          50%
EMI
1       11.0  3119.031810  301.047916  2390.083736  2978.220215  3159.839204
2      120.0  3441.429664  349.691674  2411.008838  3231.429242  3418.480121
3       19.0  3559.487188  454.411870  2811.265932  3219.363531  3592.353540

                              DEVICECOUNT            ...           PRODUCTAGE  \
             75%          max       count      mean  ...  75%  max      count
EMI                                                  ...
1    3363.814315  3419.462596        11.0  3.818182  ...  4.0  6.0       11.0
2    3656.799297  4166.533130       120.0  4.916667  ...  6.0  6.0      120.0
3    3867.447366  4296.873743        19.0  6.000000  ...  6.0  6.0       19.0


         mean       std  min       25%       50%       75%       max
EMI
1    2.191810  0.551576  1.0  1.950595  2.139196  2.559718  2.994395
2    2.040539  0.802460  0.8  1.100000  2.137109  2.680352  3.483573
3    1.100819  0.348977  0.8  0.900000  1.000000  1.100000  2.055707

[3 rows x 24 columns]

In [ ]:
# groupby로 묶은 그룹의 데이터 개수, 평균값, 표준편차, 최소/최대값, 사분위값을 보여준다.

In [21]:
customerData.groupby(groupKey)["AVGPRICE"].describe()

,count,mean,std,min,25%,50%,75%,max
EMI,,,,,,,,
1,11.0,3119.031810,301.047916,2390.083736,2978.220215,3159.839204,3363.814315,3419.462596
2,120.0,3441.429664,349.691674,2411.008838,3231.429242,3418.480121,3656.799297,4166.533130
3,19.0,3559.487188,454.411870,2811.265932,3219.363531,3592.353540,3867.447366,4296.873743

In [ ]:
# 위의 describe()에서는 대상 그룹의 모든 데이터를 대상으로 통계값을 출력하였고,
# 아래 describe()에서는 "AVGPRICE" 데이터만을 대상으로 통계값을 출력하였다.

In [ ]:
# rolling 함수는 양옆으로 참조할 데이터가 구간 사이즈에 미달할 경우 null 값을 배출한다.

In [23]:
selloutData = pd.read_csv("../../../stdcode6/dataset/kopo_channel_seasonality_new.csv")

In [25]:
sortKey = ["REGIONID", "PRODUCT", "YEARWEEK"]

In [26]:
sortedData = selloutData.sort_values(by=sortKey)

In [36]:
sortedData

       REGIONID    PRODUCT  YEARWEEK     QTY
298         A00  PRODUCT34    201401   661.0
1757        A00  PRODUCT34    201402   679.0
3125        A00  PRODUCT34    201403   578.0
205         A00  PRODUCT34    201404   532.0
4369        A00  PRODUCT34    201405   516.0
...         ...        ...       ...     ...
102292      A77  PRODUCT12    201648  4152.0
97525       A77  PRODUCT12    201649  5086.0
102329      A77  PRODUCT12    201650  5846.0
101211      A77  PRODUCT12    201651  4933.0
92325       A77  PRODUCT12    201652  7551.0

[124658 rows x 4 columns]

In [29]:
sortedData["QTY"].rolling(window=5, center=True).mean()

298          NaN
1757         NaN
3125       593.2
205        545.6
4369       491.2
           ...
102292    4582.6
97525     4718.2
102329    5513.6
101211       NaN
92325        NaN
Name: QTY, Length: 124658, dtype: float64

In [ ]:
# 위 rolling은 NaN 값을 뱉는다. 구간 사이즈(window)에 미달하는 참조 데이터 개수가 존재하므로.

In [37]:
sortedData["MA5"] = sortedData["QTY"].rolling(window=5, center=True, min_periods=3).mean()

In [ ]:
# MA5 : 구간 5, 최소구간 3의 이동평균 판매량.

In [38]:
sortedData.MA5

298        639.333333
1757       612.500000
3125       593.200000
205        545.600000
4369       491.200000
             ...
102292    4582.600000
97525     4718.200000
102329    5513.600000
101211    5854.000000
92325     6110.000000
Name: MA5, Length: 124658, dtype: float64

In [39]:
sortedData["SEASONALITY"] = sortedData["QTY"] / sortedData["MA5"]

In [ ]:
# SEASONALITY : 실판매량 / 이동평균 판매량(구간:5, 최소구간:3)

In [40]:
sortedData.SEASONALITY

298       1.033889
1757      1.108571
3125      0.974376
205       0.975073
4369      1.050489
            ...
102292    0.906036
97525     1.077953
102329    1.060287
101211    0.842672
92325     1.235843
Name: SEASONALITY, Length: 124658, dtype: float64

In [ ]:
# seasonality : 계절성 지수

In [49]:
SEASONALITY_1 = sortedData.loc[(sortedData.SEASONALITY >= 1)].reset_index()

In [50]:
SEASONALITY_1

        index REGIONID    PRODUCT  YEARWEEK     QTY          MA5  SEASONALITY
0         298      A00  PRODUCT34    201401   661.0   639.333333     1.033889
1        1757      A00  PRODUCT34    201402   679.0   612.500000     1.108571
2        4369      A00  PRODUCT34    201405   516.0   491.200000     1.050489
3        5158      A00  PRODUCT34    201409   470.0   429.600000     1.094041
4        7437      A00  PRODUCT34    201410   538.0   418.600000     1.285237
...       ...      ...        ...       ...     ...          ...          ...
52379   99443      A77  PRODUCT12    201645  4506.0  4440.800000     1.014682
52380   99556      A77  PRODUCT12    201646  4255.0  4119.200000     1.032968
52381   97525      A77  PRODUCT12    201649  5086.0  4718.200000     1.077953
52382  102329      A77  PRODUCT12    201650  5846.0  5513.600000     1.060287
52383   92325      A77  PRODUCT12    201652  7551.0  6110.000000     1.235843

[52384 rows x 7 columns]

In [59]:
SEASONALITY_1.loc[SEASONALITY_1.SEASONALITY < 1]

Empty DataFrame
Columns: [index, REGIONID, PRODUCT, YEARWEEK, QTY, MA5, SEASONALITY]
Index: []

In [ ]:
# 반증 사례 확인을 통해 SEASONALITY_1 내에 계절성 지수 값이 1 미만인 데이터가 존재하지 않음을 증명하였다.

In [61]:
SEASONALITY_U1 = sortedData.loc[(sortedData.SEASONALITY < 1)].reset_index()

In [54]:
SEASONALITY_U1

        index REGIONID    PRODUCT  YEARWEEK     QTY     MA5  SEASONALITY
0        3125      A00  PRODUCT34    201403   578.0   593.2     0.974376
1         205      A00  PRODUCT34    201404   532.0   545.6     0.975073
2        4313      A00  PRODUCT34    201406   423.0   448.4     0.943354
3        6288      A00  PRODUCT34    201407   407.0   436.0     0.933486
4        6403      A00  PRODUCT34    201408   364.0   440.4     0.826521
...       ...      ...        ...       ...     ...     ...          ...
66346  121416      A77  PRODUCT12    201642  4292.0  4354.8     0.985579
66347  108564      A77  PRODUCT12    201644  4109.0  4584.4     0.896300
66348  103153      A77  PRODUCT12    201647  3574.0  4314.6     0.828350
66349  102292      A77  PRODUCT12    201648  4152.0  4582.6     0.906036
66350  101211      A77  PRODUCT12    201651  4933.0  5854.0     0.842672

[66351 rows x 7 columns]

In [ ]:
# SEASONALITY_1에 계절성지수 > 1인 데이터들만을 모아 정리하였다. reset_index 기능으로 새로 번호를 붙이고, 기존 번호를 index 열로 이동시켰다.

In [56]:
SEASONALITY_U1.loc[(SEASONALITY_U1.SEASONALITY >= 1)]

Empty DataFrame
Columns: [index, REGIONID, PRODUCT, YEARWEEK, QTY, MA5, SEASONALITY]
Index: []

In [ ]:
# 반증 사례 확인을 통해 계절성 지수 1 이상의 값을 지니는 데이터가 SEASONALITY_U1에 존재하지 않음을 증명하였다.

In [ ]:
# NaN = null. Not A Number. 값이 없음을 의미한다.

In [62]:
sortedData.SEASONALITY.drop_duplicates()

298       1.033889
1757      1.108571
3125      0.974376
205       0.975073
4369      1.050489
            ...
102292    0.906036
97525     1.077953
102329    1.060287
101211    0.842672
92325     1.235843
Name: SEASONALITY, Length: 81807, dtype: float64

In [66]:
sortedData.loc[(sortedData.SEASONALITY.isnull()) | (sortedData.SEASONALITY.str.upper()=="NAN")]

AttributeError: Can only use .str accessor with string values!

In [ ]:
# 이동평균을 구할 때는, 선행 작업으로 반드시 데이터 정렬이 이뤄져야 한다.