In [1]:
import pandas as pd

In [7]:
selloutData = pd.read_csv("../../../Python_Script/dataset/kopo_channel_seasonality_new.csv")

In [8]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [11]:
selloutData = selloutData.astype(
    {"YEARWEEK":str})

In [13]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]

In [15]:
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:]

In [17]:
refinedSelloutData = selloutData[selloutData.WEEK.astype(int) <= 52]

In [18]:
refinedSelloutData

       REGIONID    PRODUCT YEARWEEK      QTY  YEAR WEEK
0           A60   PRODUCT4   201402     71.0  2014   02
1           A60  PRODUCT59   201402  22275.0  2014   02
2           A60  PRODUCT34   201402   4463.0  2014   02
3           A60  PRODUCT47   201402      0.0  2014   02
4           A60  PRODUCT56   201402     23.0  2014   02
...         ...        ...      ...      ...   ...  ...
124653      A10  PRODUCT60   201630    824.0  2016   30
124654      A10  PRODUCT56   201630    275.0  2016   30
124655      A10  PRODUCT61   201630      0.0  2016   30
124656      A10  PRODUCT12   201630  15021.0  2016   30
124657      A10   PRODUCT1   201630    568.0  2016   30

[123864 rows x 6 columns]