In [1]:
rows = [1, 2, 3, 4, 5]

In [3]:
type(rows)

list

In [4]:
rows.sort(reverse=False)

In [5]:
rows

[1, 2, 3, 4, 5]

In [6]:
rows.sort(reverse=True)

In [7]:
rows

[5, 4, 3, 2, 1]

In [ ]:
# 1. type(변수)를 통해 해당 변수의 데이터 타입을 확인할 수 있다.
# 2. .sort(리스트)를 통해 데이터를 정렬할 수 있다. reverse = True 시 내림차순, False 시 오름차순으로 정렬한다.

In [8]:
import pandas as pd

In [9]:
customerData = pd.read_csv("../Python_Script/dataset/customerdata.csv")

In [10]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [13]:
customerData.columns

Index(['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE'], dtype='object')

In [14]:
customData = pd.read_excel("../Python_Script/dataset/customerdata_out.xlsx")

In [15]:
customData

     custid     avgprice  emi  devicecount  productage            cstype
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [20]:
pd.read_csv("../Python_Script/dataset/kopo_region_mst_hangul.csv", \
           encoding = "ms949")

   REGIONID REGIONNAME
0       A00       아프리카
1       A01         미국
2       A02         한국
3       A03         독일
4       A04        브라질
..      ...        ...
68      A68      베네수엘라
69      A69        베트남
70      A70       바누아투
71      A71        NaN
72      A99         기타

[73 rows x 2 columns]

In [1]:
import pandas as pd

In [2]:
selloutdata = pd.read_csv("../Python_Script/dataset/kopo_product_volume.csv")

In [3]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [8]:
selloutData = pd.read_csv("../Python_Script/dataset/kopo_product_volume.csv")
selloutData.columns = selloutData.columns.str.lower()

In [10]:
# 컬럼을 소문자로 만들기!
# Dfname.columns = Dfname.columns.str.lower()

In [9]:
selloutData

    regionid productgroup  yearweek  volume
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]