In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [2]:
targetData = pd.read_csv("../../../stdcode6/dataset/feature_regression_example.csv")

In [3]:
targetData.dtypes

REGIONID         object
PRODUCTGROUP     object
PRODUCT          object
ITEM             object
YEARWEEK          int64
YEAR              int64
WEEK              int64
QTY               int64
HOLIDAY          object
HCLUS             int64
PROMOTION        object
PRO_PERCENT     float64
dtype: object

In [13]:
ynLabelEn = LabelEncoder()

In [15]:
targetData["HP_YN"] = ynLabelEn.fit_transform(targetData["HOLIDAY"])

In [16]:
targetData["PRO_YN"] = ynLabelEn.fit_transform(targetData["PROMOTION"])

In [17]:
targetData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HP_YN,PRO_YN
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442,1,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442,0,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155,0,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155,1,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155,0,1

In [18]:
corrData = targetData.corr()

In [19]:
corrData

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HP_YN,PRO_YN
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.898554
HP_YN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,0.365148
PRO_YN,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,1.000000

In [20]:
targetStd = 0.5

In [23]:
featuresList = list(corrData[(abs(corrData.QTY) > targetStd) & \
                             (abs(corrData.QTY) != 1)].index)

In [24]:
featuresList

['HCLUS', 'PRO_PERCENT', 'HP_YN', 'PRO_YN']

In [27]:
labelList = ["QTY"]

In [28]:
splitTarget = 0.7

In [35]:
splIndex = int(targetData.shape[0] * 0.7)

In [37]:
from sklearn.model_selection import train_test_split