In [1]:
#1. Pickle을 사용한 문자열 작업물의 저장 및 불러오기.

In [2]:
inPass = "dfdfdfdfdfdfdf"
# inPass라는 변수에 "dfdfdfdfdfdfdf"라는 문자열을 입력

In [3]:
import pickle
# pickle 모듈 호출

In [4]:
with open("./pw.pickle", "wb") as fw:
    pickle.dump(inPass, fw)
    
## pw.pickle이라는 이름으로 파일을 저장할거다.

In [5]:
with open("./pw.pickle", "rb") as fr:
    data = pickle.load(fr)
## data 라는 변수에 fr로 선언한 pw.pickle이라는 데이터를 불러올거야
## 저장했던 타입을 그대로 유지한다.

In [6]:
print(data)
# 기존에 작업하였던 "dfdfdfdfdfdfdf"를 확인할 수 있다.

dfdfdfdfdfdfdf

In [7]:
type(data)
# 입력하였던 문자열의 타입이 유지되고 있음을 확인할 수 있다.

str

In [8]:
# 2. Pickle을 사용한 list 형 데이터의 저장과 불러오기.

In [9]:
testList = ["aa", "bb", "cc", "dd"]
# testList를 만들고, "aa", "bb", "cc", "dd" 라는 데이터를 입력

In [10]:
with open("./pw2.pickle", "wb") as fw2:
    pickle.dump(testList, fw2)
# 이름은 pw2, 확장자는 pickle testList를 저장.
# "wb" : write binary. 대강 파일을 저장한다는 이야기.

In [11]:
with open("./pw2.pickle", "rb") as fr2:
    data02 = pickle.load(fr2)
# 이름이 pw2, 확장자는 pickle인 파일을 불러오겠다.
# 불러온 파일은 data02 라는 이름으로 인식하겠다.

In [12]:
print(data02)
# 기존에 리스트에 삽입하였던 "aa", "bb", "cc", "dd"가 잔존하고 있음을 확인할 수 있다.

['aa', 'bb', 'cc', 'dd']

In [13]:
type(data02)
# 기존에 만들었던 testList는 list형 자료 타입을 가지고 있었다.
# 불러온 data02 역시 list로 타입을 유지하고 있음을 확인할 수 있다.

list

In [ ]:
#03. Pickle을 사용한 DataFrame 형 데이터의 저장과 불러오기.

In [27]:
exList01 = ["김효관", "교수", "님"]

In [28]:
exList02 = ["TRUE", "TRUE", "TRUE"]

In [29]:
import pandas as pd

In [30]:
testDf = pd.DataFrame(exList01, exList02)

In [31]:
testDf

        0
TRUE  김효관
TRUE   교수
TRUE    님

In [19]:
# exList01과 exList02를 pandas를 사용하여 DataFrame화 하였다.

In [32]:
testDf.columns = ["아오"]

In [33]:
testDf

       아오
TRUE  김효관
TRUE   교수
TRUE    님

In [22]:
# testDf의 새 열(column) 명으로 "레알"을 설정하였다.

In [34]:
with open("./true.pickle", "wb") as fww:
    pickle.dump(testDf, fww)
# 파일 이름은 true, 확장자는 pickle로 해당 testDf를 저장하였다.

In [35]:
with open("./true.pickle", "rb") as frr:
    Dfs = pickle.load(frr)
# 파일 이름은 true, 확장자 명은 pickle인 파일을 가져왔다.
# 가져온 파일은 앞으로 Dfs라는 이름으로 취급할 것이다.

In [36]:
Dfs
# 기존에 저장하였던 testDf가 동일한 형태로 저장되었음을 확인할 수 있다.

       아오
TRUE  김효관
TRUE   교수
TRUE    님

In [37]:
type(Dfs)
# 타입 역시 데이터프레임 형으로 저장되었음을 확인할 수 있다.

pandas.core.frame.DataFrame