In [1]:
import pandas as pd

In [2]:
indata = pd.read_csv("../../stdcode6/dataset/customerdata.csv")

In [3]:
indata.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [4]:
groupKey = ["EMI"]

In [6]:
emiAvgPrice = indata.groupby(groupKey)["AVGPRICE"].agg(["max"]).reset_index()

In [7]:
emiAvgPrice

   EMI          max
0    1  3419.462596
1    2  4166.533130
2    3  4296.873743