In [1]:
# 유통/판매 부문에서는 수요 예측,
# 금융 부문에서는 부정거래 탐지,
# 마케팅 부문에서는 고객 맞춤형 상품 개발 등,
# 다양한 부문에서 분석 데이터를 활용할 수 있다.

In [2]:
# 단순히 ETL 컬럼만 변경하여도
# 데이터 ETL 처리를 한 것으로 의제할 수 있다.
# 분석 결과를 예측 결과로...

In [3]:
# OpenWeather. 기상 정보
# TimeAndDate. 각국 연휴 정보

In [4]:
# 연동정보(Interface Data) 정의
# ex. 대상 정보, 저장 타입, 시스템명, 데이터 크기, 획득 주기 등.
# 필요한 정보를 파악하고 확보한다.

In [5]:
# 상황에 따라 데이터 분석가가 데이터 엔지니어 역할을 병행하기도 한다.

In [6]:
# 기간이 타이트하다면 머신러닝/딥러닝 적용
# 데이터 전처리가 확실히 이뤄진다면 하루 내에 분석 활동을 완수할 수 있다.
# 반면, 기간이 여유가 있다면 분석 모델을 설계하고, 이를 적용한다.
# 이러한 구분은 명확한 규정이 존재하는 것은 아니며, 이 둘을 혼용한 하이브리드 방식을 활용할 수도 있다.

In [7]:
# 분석 방법 중 통계적 접근 방법에 관하여 학습해보자.

In [8]:
# Time-Series, Clustering using quantile, Moving average 등이 이에 속한다.

In [9]:
# 카이제곱함수 : 설정한 옵션(Parameter)에 따라 서로 다른 값을 도출하는 함수.
# PLC.
# Quantile(25%를 단위로 다루는 모델) 1-100 중 25%단위로 나눠 1, 2, 3, 4그룹을 형성하여 구분

In [10]:
# explainable AI(설명 가능한 AI), Domain Knoledge(업의 지식)

In [11]:
# 통계 모델의 적용이 어렵다면 머신/딥러닝 개발자로 Turn Around.

In [12]:
# 분석과 웹 개발. 이원화 투 트랙 전략으로 진행될 예정

In [13]:
import pandas as pd

In [14]:
customerData = pd.read_csv("./../../../stdcode6/dataset/customerdata.csv")

In [16]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [18]:
# 테이블 정의서를 작성하자

검은 밤의 가운데 서있어
한 치 앞도 보이질 않아
어디로 가야 하나 어디에 있을까
둘러봐도 소용없겠지.

인생이란 강물 위를 뜻 없이
부초처럼 떠다니다가
어느 고요한 호수가에 닿으면
물과 함께 썩어가겠지.

일어나 일어나
다시 한 번 해보는거야.

일어나 일어나
봄의 새싹들처럼

끝이 없는 날들 속에
나와 너는 지쳐가고
또 다른 말들로, 또 다른 행동으로
스스로를 안심시키지.

아름다운 꽃일 수록
빨리 시들어가고
햇살이 비치면 투명하던 이슬도
한 순간에 말라버리지.

일어나 일어나
다시 한 번 해보는거야

일어나 일어나 봄의 새싹들 처럼

일어나 일어나 다시 한 번 해보는거야
일어나 일어나 봄의 새싹들 처럼

In [20]:
# List로 DataFrame 만들기

In [22]:
stNo = [1, 2, 3]
stName = ["Hello", "Nice to", "Meet you"]

In [25]:
testDf = pd.DataFrame(zip(stNo, stName))

In [27]:
testDf

   0         1
0  1     Hello
1  2   Nice to
2  3  Meet you

In [ ]:
test2Df = pd.DataFrame([stNo, stName])
test2Df

       0        1         2
0      1        2         3
1  Hello  Nice to  Meet you

In [30]:
row1 = [1, "haiteam"]
row2 = [2, "curse"]

In [31]:
testDf2 = pd.DataFrame([row1, row2])
testDf2

   0        1
0  1  haiteam
1  2    curse

In [32]:
# 딕셔너리는 주로 사용하지 않는 타입이다.

In [39]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [ ]:
# .info()를 통해 컬럼의 갯수, 각 컬럼 별 이름, Null-Check, 데이터 타입을 확인할 수 있다.
# Object = String이라고 이해하면 된다.
# 해당 데이터프레임에 관한 정보를 확인할 수 있다.

In [40]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
# 컬럼의 타입만 확인해준다.

In [42]:
tableDefine = pd.DataFrame(customerData.dtypes)

In [ ]:
# 해당 컬럼 정보들을 DataFrame으로 말아버렸다.

In [ ]:
# tableDefine.to_csv("./tabledefine.csv")
# 해당 명령어를 입력하면 csv파일로 저장된다.

In [43]:
tableDefine["비고"] = ""
tableDefine

                   0 비고
CUSTID        object
AVGPRICE     float64
EMI            int64
DEVICECOUNT    int64
PRODUCTAGE   float64
CUSTTYPE      object

In [ ]:
# 아무런 값도 지니지 않은 '비고' 탭을 만들었다.
# 추가로 값을 삽입할 수 있다는 점 정도만 알고 넘어가자.

In [ ]:
# 행 조회 방법?
# DataFrame명.loc[조건식 or  인덱스]

In [44]:
customerData.loc[customerData.EMI > 2]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [ ]:
# 위 명령어를 통해 EMI 값이 2를 초과하는 값들만 데이터를 확보하였다.

In [46]:
refinedData = customerData.loc[customerData.EMI > 2]

In [ ]:
# 데이터프레임 이름. 까지 입력하고 tab을 누르면 확인 가능한 탭 목록이 표시된다.
# refinedData라는 변수에 EMI값이 2를 초과하는 customerData의 데이터를 저장하였다.

In [ ]:
refinedData = /
    customerData.loc[customerData["EMI"] > 2]
# 현재 존재하지 않는 칼럼이라도 조회 가능하다. + for문 돌리기 용이한 구조.
# 위의 방식과 온전히 동일한 결과값을 도출하나, 가능하면 아래 방식을 사용하자.

In [50]:
customerData.loc[ [0, 1, 2] ]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog

In [ ]:
# customerData.loc[ [ 인덱스 번호 1, 인덱스 번호 2, 인덱스 번호 3 ] ]

# 인덱스 번호 1, 2, 3에 속하는 값들을 가져온다.

In [52]:
customerData.loc[ 0:10 ]

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   A14219  3642.441950    2            4    2.682023      Sleeping-dog
2   A15312  3653.884565    2            5    3.208202      Sleeping-dog
3   A16605  3713.211107    2            6    0.900000        Early-bird
4   B10634  3391.074215    2            4    2.453656      Sleeping-dog
5   B16849  3755.263391    2            4    2.786665      Sleeping-dog
6   B18816  3213.911446    2            6    0.900000        Early-bird
7   C10639  3516.500000    2            5    2.564830  Big-Screen-lover
8   C12717  3732.900000    2            5    2.069995  Big-Screen-lover
9   C15050  4020.173425    2            4    3.013440      Sleeping-dog
10  C18306  4005.005142    2            4    3.113618      Sleeping-dog

In [53]:
customerData.loc[0:]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [ ]:
# 인덱스 번호를 사용하여 0번부터 모든 데이터를 출력해봤다.

In [4]:
import pandas as pd
customerData = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [5]:
emiCondition = 3
deviceCondition = 5

In [8]:
csData = customerData.loc[(customerData.EMI >= emiCondition) &
                 (customerData.DEVICECOUNT > deviceCondition)]

In [ ]:
# 다중 조건문을 사용하여 데이터를 파악할 때는
# 각 조건들을 () 소괄호로 묶어줘야 한다.

In [9]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [11]:
csData.loc[ (customerData.EMI != 3) |
           (customerData.DEVICECOUNT <= deviceCondition) ]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE]
Index: []

In [ ]:
# 조건문으로 데이터를 추출한 이후에는, 반대 조건으로 다시 한 번 확인하여
# 반대 조건에 해당하는 데이터가 없음을 확인하여야 한다.
# 데이터 추출 간 정확도 향상을 위해!

In [ ]:
# 다중 조건 설정 간에는 문자와 숫자를 혼용하여 사용할 수 없다.

In [12]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
# customerData에 다양한 파일 형식이 혼용되어 있음을 확인할 수 있다.

In [14]:
# str, int, float 만 사용 가능하다.
customerData.CUSTID.astype(str)

0      A13566
1      A14219
2      A15312
3      A16605
4      B10634
        ...
145    Z13253
146    Z13534
147    Z16428
148    Z16735
149    Z19835
Name: CUSTID, Length: 150, dtype: object

In [ ]:
# 숫자는 문자로 바꿀 수 있으나, 문자 혹은 문자+숫자 혼용 형태를 숫자로 변환할 수는 없다.

In [17]:
customerData["EMI_STR"] = customerData.EMI.astype(str)

0      3
1      2
2      2
3      2
4      2
      ..
145    2
146    3
147    2
148    2
149    2
Name: EMI, Length: 150, dtype: int32

In [ ]:
# "EMI_STR"이라는 탭을 새로 만들고, EMI 탭에 있던 정수 데이터를 문자열로 치환하여 저장하였다.

In [18]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
EMI_STR         object
dtype: object

In [19]:
customerData["DEVICECOUNT_float"] = customerData.DEVICECOUNT.astype(float)

In [21]:
customerData.dtypes

CUSTID                object
AVGPRICE             float64
EMI                    int64
DEVICECOUNT            int64
PRODUCTAGE           float64
CUSTTYPE              object
EMI_STR               object
DEVICECOUNT_float    float64
dtype: object

In [22]:
customerData["PRODUCTAGE_STR"] = customerData.PRODUCTAGE.astype(str)

In [23]:
customerData.dtypes

CUSTID                object
AVGPRICE             float64
EMI                    int64
DEVICECOUNT            int64
PRODUCTAGE           float64
CUSTTYPE              object
EMI_STR               object
DEVICECOUNT_float    float64
PRODUCTAGE_STR        object
dtype: object

In [24]:
specificIndex = [1, 3]

In [25]:
answer1 = customerData.loc[specificIndex]

In [27]:
answer2 = customerData.loc[1:3]

In [28]:
answer3 = customerData.loc[:]

In [29]:
print(len(answer1))
print(len(answer2))
print(len(answer3))

2
3
150

In [32]:
selloutData = pd.read_csv("../../../stdcode6/dataset/kopo_channel_seasonality_new.csv")

In [36]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [37]:
selloutData["QTY_float"] = selloutData.QTY.astype(float)
selloutData["YEARWEEK_str"] = selloutData.YEARWEEK.astype(str)

In [ ]:
# selloutData.QTY.astype(float)
# selloutData.YEARWEEK.astype(str)
# 실습코드 내라고 하면 이거 내면 된다.

In [38]:
selloutData.dtypes

REGIONID         object
PRODUCT          object
YEARWEEK          int64
QTY             float64
QTY_float       float64
YEARWEEK_str     object
dtype: object

In [ ]:
customerData = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [ ]:
csColumns = list(customerData.columns)

In [ ]:
csColumns

['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE']

In [ ]:
# for i in range(0, len(csColumns)):
#     try:
#         customerData[csColumns[i]] = customerData[csColumns[i].astype(str)]
#     except Exception as e:
#         print(e)

'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'

In [51]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [42]:
customerData["CUSTID"] = customerData["CUSTID"].astype(str)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [2]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../../../stdcode6/dataset/customerdata.csv")

In [4]:
csColumns = list(customerData.columns)

In [5]:
csColumns

['CUSTID', 'AVGPRICE', 'EMI', 'DEVICECOUNT', 'PRODUCTAGE', 'CUSTTYPE']

In [6]:
for i in range(0, len(csColumns)):
    try:
        customerData[csColumns[i]] = customerData[csColumns[i].astype(str)]
    except Exception as e:
        print(e)

'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'

In [11]:
emiCondition = [2,3]

In [12]:
answer1 = customerData[customerData.EMI.isin(emiCondition)]
answer2 = customerData[~customerData.EMI.isin(emiCondition)]

In [ ]:
# ~ 표시는 반대를 의미한다.

In [13]:
csData = customerData.loc[customerData.EMI.isin(emiCondition)]

In [14]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[139 rows x 6 columns]

In [15]:
csData.shape

(139, 6)

In [ ]:
# 몇 행, 몇 열로 구성된 DataFrame인지 정보를 뱉어준다.

In [17]:
selloutData = pd.read_csv("../../../stdcode6/dataset/kopo_channel_seasonality_new.csv")

In [18]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [ ]:
# customerData.loc[0:] : 0부터 모두 다 조회
# customerData.loc[0:2] : 인덱스 0부터 2까지 조회
# customerData[:] : 전체 조회
# 행 단위 조회가 가능하다. Machine Learning 때 자주 보게 될 것.

In [21]:
custIdData = customerData.loc[:,["CUSTID"]]

In [22]:
custIdData

     CUSTID
0    A13566
1    A14219
2    A15312
3    A16605
4    B10634
..      ...
145  Z13253
146  Z13534
147  Z16428
148  Z16735
149  Z19835

[150 rows x 1 columns]

In [ ]:
# CUSTID 컬럼 데이터만 모아서 출력했다.

In [23]:
targetColumns = ["CUSTID", "EMI"]

In [27]:
custidNo = 0
avgPriceNo = 1
emiNo = 2
deviceCountNo = 3
productAgeNo = 4
custTypeNo = 5

In [28]:
emiData = customerData.iloc[:, [0, 2, 3] ]

In [ ]:
# 이런 형태로 만들어보자

In [ ]:
# loc -> iloc : 인덱스 번호로 조회한다!

In [ ]:
sortKey = ["AVGPRICE']
sortedData = customerData.sort_value(sortKey)
# 해당 열값을 기준으로 sort 해준다.

In [30]:
emiData.reset_index()
# 괄호 안에 drop = True를 입력하면 열로 빼주는 인덱스 번호도 다 없애버린다.
# True 뒤에 option 하나를 추가로 더 달아줄 수 있다.
# inplace 라는 친구인데, 기본 타입은 False이다.
# inplace를 True로 설정해주면 본체 데이터를 바꿔버린다.
# ex. customerData.reset_index(drop=True, inplace=True)
# 알아만 두고 쓰지는 말자.

     index  CUSTID  EMI  DEVICECOUNT
0        0  A13566    3            6
1        1  A14219    2            4
2        2  A15312    2            5
3        3  A16605    2            6
4        4  B10634    2            4
..     ...     ...  ...          ...
145    145  Z13253    2            5
146    146  Z13534    3            6
147    147  Z16428    2            5
148    148  Z16735    2            5
149    149  Z19835    2            6

[150 rows x 4 columns]

In [25]:
targetData = customerData.loc[:, targetColumns]

In [26]:
targetData

     CUSTID  EMI
0    A13566    3
1    A14219    2
2    A15312    2
3    A16605    2
4    B10634    2
..      ...  ...
145  Z13253    2
146  Z13534    3
147  Z16428    2
148  Z16735    2
149  Z19835    2

[150 rows x 2 columns]