In [ ]:
### 라이브러리 선언

In [1]:
import pandas as pd

In [4]:
selloutData = \
            pd.read_csv("../../../stdcode6/dataset/kopo_channel_seasonality_new.csv")

In [5]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [7]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [ ]:
# 테이블 정의서를 기준으로 모든 데이터의 타입을 설정해준다.(데이터타입 통합 작업)
# 이를 통해 DB 변경에 따른 영향을 받지 않도록 데이터 설정이 가능해진다.

In [11]:
selloutData.describe()

           YEARWEEK           QTY
count  124658.00000  1.246580e+05
mean   201526.66879  8.949287e+03
std        82.77994  4.294973e+04
min    201401.00000 -3.640000e+02
25%    201440.00000  3.200000e+01
50%    201527.00000  2.820000e+02
75%    201613.00000  2.223000e+03
max    201652.00000  1.663206e+06

In [ ]:
# 각각의 실수/ 정수에 관하여 총 몇 건, 표준편차, 최소값, 최대값 등을 상세히 확인 가능하다.

In [10]:
selloutData.loc[selloutData.QTY < 0]

       REGIONID    PRODUCT  YEARWEEK   QTY
65          A02  PRODUCT16    201403  -1.0
338         A08  PRODUCT36    201402  -1.0
1270        A14  PRODUCT36    201405  -1.0
1616        A17  PRODUCT60    201402  -1.0
2035        A39   PRODUCT7    201404 -12.0
...         ...        ...       ...   ...
123677      A39  PRODUCT25    201628  -1.0
123957      A39  PRODUCT50    201627  -1.0
123970      A39  PRODUCT25    201627  -1.0
124148      A13   PRODUCT5    201648  -6.0
124532      A32  PRODUCT14    201627  -2.0

[323 rows x 4 columns]

In [1]:
import pandas as pd

In [2]:
selloutData = pd.read_csv("../../../stdcode6/dataset/kopo_channel_seasonality_new.csv")

In [3]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [4]:
selloutData.QTY.astype(float)

0            71.0
1         22275.0
2          4463.0
3             0.0
4            23.0
           ...
124653      824.0
124654      275.0
124655        0.0
124656    15021.0
124657      568.0
Name: QTY, Length: 124658, dtype: float64

In [5]:
selloutData.YEARWEEK.astype(str)

0         201402
1         201402
2         201402
3         201402
4         201402
           ...
124653    201630
124654    201630
124655    201630
124656    201630
124657    201630
Name: YEARWEEK, Length: 124658, dtype: object

In [6]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [7]:
seColumn = selloutData.columns

In [8]:
len(seColumn)

4

In [9]:
for i in range(0, len(seColumn)):
    try:
        selloutData[seColumn[i]] = selloutData[seColumn[i].astype(str)]
        if(selloutData.QTY):
            selloutData[secolumn[i]] = selloutData[scolumn[i].astype(float)]
    except Exception as e:
        print(e)

'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'
'str' object has no attribute 'astype'

In [11]:
selloutData.QTY = selloutData.QTY.astype(float)

In [13]:
selloutData.YEARWEEK = selloutData.YEARWEEK.astype(str)

In [14]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [17]:
selloutData.loc[:]

       REGIONID    PRODUCT YEARWEEK      QTY
0           A60   PRODUCT4   201402     71.0
1           A60  PRODUCT59   201402  22275.0
2           A60  PRODUCT34   201402   4463.0
3           A60  PRODUCT47   201402      0.0
4           A60  PRODUCT56   201402     23.0
...         ...        ...      ...      ...
124653      A10  PRODUCT60   201630    824.0
124654      A10  PRODUCT56   201630    275.0
124655      A10  PRODUCT61   201630      0.0
124656      A10  PRODUCT12   201630  15021.0
124657      A10   PRODUCT1   201630    568.0

[124658 rows x 4 columns]