In [1]:
import pandas as pd

In [2]:
selloutdata = pd.read_csv("../../Python_Script/dataset/kopo_product_volume.csv")

In [3]:
selloutdata

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]