In [1]:
integer_value = 123
float_value = 12.456

In [2]:
sumation = integer_value + float_value

In [4]:
type(sumation)

float

In [ ]:
# integer + float = float value로 산출된다.

In [5]:
String01 = "This is 'string' value"

In [6]:
String01

"This is 'string' value"

In [7]:
String02 = 'This is "string" value'

In [8]:
String02

'This is "string" value'

In [9]:
String03 = """This is 'String' value"""

In [10]:
String03

"This is 'String' value"

In [ ]:
# 01과 03 사이에는 무슨 차이점이 있나요?

In [12]:
head = "SMART"
side = "_"
tail = "Finance"

In [13]:
head+side+tail

'SMART_Finance'

In [16]:
starPoint = "*"

In [17]:
starPoint * 10

'**********'

In [18]:
yearWeek = "202304"

In [19]:
yearWeek[0:4]

'2023'

In [20]:
yearWeek[4:]

'04'

In [ ]:
# 문자열도 합과 곱 연산이 가능하다.
# 문자열은 인덱스 번호로 출력이 가능하다.

In [21]:
lowerLetter = "aaa"

In [23]:
upperLetter = lowerLetter.upper()

In [24]:
upperLetter

'AAA'

In [26]:
BigLetter = "AAAAA"
smallLetter = BigLetter.lower()

In [27]:
smallLetter

'aaaaa'

In [ ]:
# 문자열은 문자열.upper()로 대문자화가 가능하며,
# 문자열.lower()로 소문자화가 가능하다.

In [28]:
orgLetter = "2023w04"

In [29]:
splitter = "w"

In [30]:
answer = orgLetter.split(splitter)

In [31]:
answer[0]

'2023'

In [32]:
answer[1]

'04'

In [33]:
stockName = ["SEC"]
priceList = [120, 130]
dateList = [201712, 201713]

In [34]:
secinfo = stockName + priceList + [dateList]

In [35]:
secinfo

['SEC', 120, 130, [201712, 201713]]

In [ ]:
# list 자체를 합연산하여 더해버릴 수도 있다.

In [36]:
updateList = [120, 130, 140, 150]

In [37]:
updateList[2] = 180

In [38]:
updateList

[120, 130, 180, 150]

In [ ]:
# index 번호로 지정하고 리스트 내 해당 인덱스 값을 변경 가능

In [39]:
updateList.append(111)

In [40]:
updateList

[120, 130, 180, 150, 111]

In [ ]:
# append. 리스트 가장 뒤에 값을 추가

In [ ]:
# Java에서는 한 번 리스트가 형성되면 fix됨.
# 반면, Python에서는 유동적으로 리스트 변경 가능.

In [41]:
updateList.sort(reverse = True)

In [42]:
updateList

[180, 150, 130, 120, 111]

In [ ]:
# reverse : 역순정렬. True면 실행, False면 오름차순

In [ ]:
# 이외에도 max, min, len, sum 등을 주로 사용한다.

In [43]:
functionList = [120, 130, 140, 150, 120]

In [44]:
functionList.count(functionList[0])

2

In [ ]:
# functionList[0]은 120
# 120이 몇 개 있는지 확인해봤다. 두 개 있음을 출력해줬다.

In [ ]:
# 튜플
# 리스트와 유사하지만, 설정된 값을 변경할 수 없다.
# Java식 리스트 개념으로 볼 수 있나?

In [47]:
tuple1 = ("미국", "LEDTV", "01")
tuple2 = ("미국", "LEDTV", "02")

In [48]:
dic = {tuple1:2.5,
       tuple2:1.2}

In [49]:
print(dic)

{('미국', 'LEDTV', '01'): 2.5, ('미국', 'LEDTV', '02'): 1.2}

In [ ]:
# :부터 뒤에 이어진 숫자들을 같이 출력해줬다.

In [50]:
dic["미국", "LEDTV", "01"]

2.5

In [51]:
import pandas as pd
test = [10,100,1000,10000]

In [55]:
testDf = pd.DataFrame(test)

In [56]:
testDf

       0
0     10
1    100
2   1000
3  10000

In [57]:
testDf.columns = ["숫자"]

In [58]:
testDf

      숫자
0     10
1    100
2   1000
3  10000

In [60]:
import pandas as pd
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

In [61]:
date

['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']

In [62]:
date2

['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

In [63]:
tortDf = pd.DataFrame(date, date2)

In [64]:
tortDf

                 0
17.02.29  16.02.29
17.02.26  16.02.26
17.02.25  16.02.25
17.02.24  16.02.24
17.02.23  16.02.23

In [65]:
tortDf.columns = ["DATEINFO"]

In [66]:
tortDf

          DATEINFO
17.02.29  16.02.29
17.02.26  16.02.26
17.02.25  16.02.25
17.02.24  16.02.24
17.02.23  16.02.23

In [67]:
senDf = pd.DataFrame(zip(date, date2))

In [68]:
senDf

          0         1
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

In [ ]:
# zip으로 묶어주면 인덱스 번호를 생성해주고,
# 각각의 컬럼명을 붙여줄 수 있다.

In [69]:
import numpy as np

In [73]:
np.random.randint(10)

1

In [74]:
for i in range(0, 10):
    print(np.random.randint(10))

5
5
2
9
5
0
4
9
1
2

In [ ]:
# 10을 한도로 하는 무작위 정수값 10개를 출력하였다.

In [80]:
import pandas as pd

In [96]:
regionList = ["A01", "A02", "A03", "A04", "A05"]

In [95]:
yearWeekList = list(range(201501, 201506, 1))

In [93]:
qtyList = list(range(100, 600, 100))

In [94]:
qtyList

[100, 200, 300, 400, 500]

In [97]:
eachDf = pd.DataFrame(regionList, columns = ["REGIONID"])

In [99]:
listDf = pd.DataFrame(
    zip(regionList, yearWeekList, qtyList),
    columns = ["REGIONID", "YEARWEEK", "QTY"])

In [100]:
listDf

  REGIONID  YEARWEEK  QTY
0      A01    201501  100
1      A02    201502  200
2      A03    201503  300
3      A04    201504  400
4      A05    201505  500

In [102]:
listDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REGIONID  5 non-null      object
 1   YEARWEEK  5 non-null      int64
 2   QTY       5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [103]:
import pandas as pd

customerData = pd.read_csv("../../Python_Script/dataset/customerdata.csv")

In [104]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [105]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [106]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [109]:
answer = customerData.loc[(customerData.EMI == 3) &
                 (customerData.DEVICECOUNT >= 5)]

In [110]:
answer.head()

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27  F17131  3179.708359    3            6    1.100000        Early-bird
33  G16437  3787.328898    3            6    1.000000        Early-bird
36  G18402  3402.199381    3            6    1.000000        Early-bird
40  H16326  3988.935304    3            6    0.900000        Early-bird

In [111]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [114]:
customerData.CUSTID = customerData.CUSTID.astype(str)

In [116]:
customerData = customerData.astype(
    {"CUSTID":str,
     "DEVICECOUNT":float})

In [117]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT    float64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [122]:
emiCondition = [2, 3]
answer2 = customerData.loc[(customerData.EMI.isin(emiCondition))]
answer3 = customerData.loc[~(customerData.EMI.isin(emiCondition))]

In [123]:
answer2

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.0    1.679181  Big-Screen-lover
1    A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605  3713.211107    2          6.0    0.900000        Early-bird
4    B10634  3391.074215    2          4.0    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2          5.0    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3          6.0    0.900000        Early-bird
147  Z16428  3516.500000    2          5.0    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2          5.0    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2          6.0    1.200000        Early-bird

[139 rows x 6 columns]

In [124]:
answer3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
11   C18622  3246.000000    1          5.0    1.891624  Big-Screen-lover
46   I14835  3374.091339    1          4.0    2.749678      Sleeping-dog
47   I17056  2963.370122    1          3.0    2.139196      Sleeping-dog
56   K10712  3419.462596    1          4.0    2.825790      Sleeping-dog
57   K13300  3159.839204    1          3.0    1.960833      Sleeping-dog
65   M16452  3353.537290    1          4.0    1.940357      Sleeping-dog
68   N14862  2390.083736    1          6.0    1.000000        Early-bird
72   O13037  3398.216334    1          4.0    2.994395      Sleeping-dog
73   O13586  2980.229239    1          3.0    2.038603      Sleeping-dog
86   Q16449  3048.308860    1          3.0    2.369758      Sleeping-dog
140  Y12458  2976.211190    1          3.0    2.199677      Sleeping-dog

In [125]:
specificIndex = [1,3]

In [126]:
answer01 = customerData.loc[specificIndex]

In [127]:
answer01

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950    2          4.0    2.682023  Sleeping-dog
3  A16605  3713.211107    2          6.0    0.900000    Early-bird

In [128]:
answer2 = customerData.loc[1:3]

In [129]:
answer2

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
1  A14219  3642.441950    2          4.0    2.682023  Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202  Sleeping-dog
3  A16605  3713.211107    2          6.0    0.900000    Early-bird

In [130]:
answer3 = customerData.loc[:]

In [131]:
answer3

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3          6.0    1.679181  Big-Screen-lover
1    A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2    A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3    A16605  3713.211107    2          6.0    0.900000        Early-bird
4    B10634  3391.074215    2          4.0    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2          5.0    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3          6.0    0.900000        Early-bird
147  Z16428  3516.500000    2          5.0    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2          5.0    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2          6.0    1.200000        Early-bird

[150 rows x 6 columns]

In [140]:
customerDataCIndex = customerData.iloc[0:3, 0:2]

In [141]:
customerDataCIndex

   CUSTID     AVGPRICE
0  A13566  4273.900000
1  A14219  3642.441950
2  A15312  3653.884565

In [142]:
customerDataIndex = customerData.loc[[2, 4, 6]]

In [143]:
customerDataIndex

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
2  A15312  3653.884565    2          5.0    3.208202  Sleeping-dog
4  B10634  3391.074215    2          4.0    2.453656  Sleeping-dog
6  B18816  3213.911446    2          6.0    0.900000    Early-bird

In [144]:
csDataNewIndex = customerData.set_index(keys=["CUSTID"])

In [146]:
# csDataNewIndex

In [ ]:
# 데이터 조작하기

In [ ]:
# 1. numpy

In [147]:
import pandas as pd
import numpy as np

In [148]:
customerData = pd.read_csv("../../Python_Script/dataset/customerdata.csv")

In [151]:
customerData.PRODUCTAGE=\
np.where(customerData.PRODUCTAGE <= 1, 1, \
         np.where(customerData.PRODUCTAGE <=2, 2, \
                  np.where(customerData.PRODUCTAGE <3, 3, 4)))

In [152]:
customerData.PRODUCTAGE

0      2
1      3
2      4
3      1
4      3
      ..
145    3
146    1
147    3
148    2
149    2
Name: PRODUCTAGE, Length: 150, dtype: int32

In [155]:
def agePeriods(inAge):

    if inAge <= 1:
        return 1
    elif inAge <= 2:
        return 2
    else:
        return 3

In [156]:
customerData["NEW_AGE"] = customerData.PRODUCTAGE.apply(agePeriods)

In [158]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,NEW_AGE
0,A13566,4273.900000,3,6,2,Big-Screen-lover,2
1,A14219,3642.441950,2,4,3,Sleeping-dog,3
2,A15312,3653.884565,2,5,4,Sleeping-dog,3
3,A16605,3713.211107,2,6,1,Early-bird,1
4,B10634,3391.074215,2,4,3,Sleeping-dog,3

In [159]:
import pandas as pd

customerData = pd.read_csv("../../Python_Script/dataset/customerdata.csv")

In [160]:
sortKey = ["EMI", "AVGPRICE"]

In [163]:
customerData.sort_values(by=sortKey,
                         ascending=True,
                         ignore_index=False)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
68   N14862  2390.083736    1            6    1.000000        Early-bird
47   I17056  2963.370122    1            3    2.139196      Sleeping-dog
140  Y12458  2976.211190    1            3    2.199677      Sleeping-dog
73   O13586  2980.229239    1            3    2.038603      Sleeping-dog
86   Q16449  3048.308860    1            3    2.369758      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
40   H16326  3988.935304    3            6    0.900000        Early-bird
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]